*
!package.json
!bun.lock
!turbo.json
!tsconfig.json
!bts.jsonc

!apps/
!apps/landing-page/
!apps/landing-page/**
!apps/editor/package.json
!apps/old-landing-page/package.json

!packages/
!packages/api/
!packages/api/**
!packages/auth/
!packages/auth/**
!packages/db/
!packages/db/**
!packages/env/
!packages/env/**
!packages/config/
!packages/config/**

!apps/web/package.json

.git
node_modules
dist
coverage
